<div class="container" ng-controller="CartController">
    <div class="col-sm-12 background-plate">
        <div ng-class="getTotalCartQuantity() === 0 && (!success || !error) ? 'hide' : ''">
            <h4>Your have ordered</h4>
            <table class="table table-hover cart-products">
                <tr ng-repeat="(key, value) in cart" ng-init="product=getProductById(key)">
                    <td class="text-left">
                        <button class="btn-remove-item" ng-click="delFromCart(key)"><span class="glyphicon glyphicon-remove"></span></button>
                    </td>
                    <td class="text-center">
                        {{product.name}}
                    </td>
                    <td class="text-center">
                        {{product.description}}
                    </td>
                    <td class="text-center">{{product.size}}sm</td>
                    <td class="text-center">{{product.weight}}g</td>
                    <td class="text-center">
                        <div class="stepper" ng-stepper>
                            <input type="text" class="form-control stepper-input" min="1" max="10">
                            <span class="btn-stepper-arrow stepper-arrow up" data-input-stepper-increase>Up</span><span class="btn-stepper-arrow stepper-arrow down" data-input-stepper-decrease>Down</span>
                        </div>
                    </td>
                    <td class="text-right">
                        ${{getCartItemPrice(key)}}
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="text-right"><b>Total:</b></td>
                    <td class="text-center">{{getTotalCartWeight()}}g</td>
                    <td class="text-center">{{getTotalCartQuantity()}}</td>
                    <td class="text-right">${{getTotalCartPrice()}}</td>
                </tr>
            </table>
            <form>
                <div class="form-group">
                    <label class="required" for="customer-address">Delivery address</label>
                    <input type="text" class="form-control" id="customer-address" placeholder="Where should we deliver Your pizza?" ng-model="address" required />
                    <!--<div ng-class="address.$invalid ? 'popover bottom display-block' : 'hide'">
                <div class="arrow"></div>
                <div class="popover-content">
                    <p>Error message</p>
                </div>
            </div>-->
                </div>
                <div class="form-group">
                    <label class="required" for="customer-name">Name</label>
                    <input type="text" class="form-control" id="customer-name" placeholder="Enter Your name" ng-model="name" required />
                </div>
                <div class="form-group">
                    <label class="required" for="customer-phone">Phone number</label>
                    <input type="text" class="form-control" id="customer-phone" placeholder="38 (XXX) XXX-XX-XX" ng-model="phone" ui-phone-number required />
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <a href="#/" type="button" class="btn btn-default btn-product-to-cart"><b>Add more pizza!</b></a>
                    </div>
                    <div class="col-sm-9">
                        <button type="button" class="btn btn-success btn-product-to-cart" ng-click="sendOrder()" ng-disabled="{{isDisabled}}"><b>Confirm order!</b></button>
                    </div>
                </div>
            </form>
        </div>
        <div ng-class="getTotalCartQuantity() === 0 && !success && !error ? '' : 'hide'">
            <h4>Your have ordered</h4>
            <p>
                Your cart is empty! :( Feel free to look at our menu by clicking <a href="#/">here</a>.
            </p>
        </div>
        <div ng-class="success ? '' : 'hide'">
            <h4>Right now we are procesing Your order!</h4>
            <p>
                Thanks! <br/>We will call You in <b>10 minutes</b> to confirm Your order request! <br/>The order information You provided:
            </p>
            <dl class="dl-horizontal">
                <dt>Address</dt>
                <dd>{{address}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd>{{name}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Phone</dt>
                <dd>{{phone}}</dd>
            </dl>
        </div>
        <div ng-class="error ? '' : 'hide'">
            <h4>Oops!</h4>
            <p>We are sorry but an error occured while processing Your request :( <br/> Please try again later!
            </p>
        </div>
    </div>
</div>